fastapi
uvicorn
requests
python-dotenv
pydantic
email-validator
python-multipart
openai-whisper
ffmpeg-python
imageio-ffmpeg
sentence-transformers
faiss-cpu
numpy
google-generativeai
groq
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
